:root{
    --color1: #ede9daee ;
    --color2: #FAEAB1 ;
    --color3:  #E5BA73 ;
    --color4: #C58940 ; 
    
}

html{
    background-color: var(--color1);

}

body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: var(--color1) !important;
    }
    
.wholeapp {
    position: absolute;
    width: 65%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--color2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -0px -0px 18px -1px rgba(0,0,0,0.83);
    font-family: 'Fugaz One', cursive;

}

@media (max-width: 422px) { 
    .wholeapp{
     height: 75%;
      }
 }

 @media (min-width: 422px) { 
    .wholeapp{
     height: 75%;
      }
 }
 

nav{
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

}

.h1nav{
    font-size: 0.9rem;
    margin: auto;
}

/* Hide works with js to show different info */
.hide{ 
    display: none !important;
}

/* HOME */

.options, .game {
    display: flex;
    justify-content:  center;
    text-align:  center;
    flex-direction: column;
    align-items: center;
    
}

.option-button{
    margin-top: 2rem;
    background-color: var(--color4);
    color: black ;   
    border-radius: 10px;
    width: 10rem;
    height: 3rem; 
    box-shadow: -0px -0px 2px -1px rgba(0,0,0,0.83);

}

/* Setting game */

.game{
    margin-top :-1rem;
}
.options{
    margin-top: 5rem;
}

h2{
    font-size: 0.7rem;
}

.playersUl, .instructions-ul{ 
    list-style-type: none;
    padding-left: 0;
}

.players{
    color: var(--color4);
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
}

#player {
    margin-bottom : 1rem;
}

.nombre-participante:nth-child(1),
 .nombre-participante:nth-child(2),
 .nombre-participante:nth-child(3){ 
    padding-bottom: 0.5rem;
}

   li{font-size: 1.2rem;} 


.input-game {
 background-color: var(--color1);
 border: none;
 text-align: center; 
 width: 8rem;
 box-shadow: -2px -4px 18px -1px var(--color4);
 border-radius: 3px;
 outline: none;
}

.buttom-game, .home{
 color: var(--color1);
 background: var(--color4);
 border: none;
 margin-bottom: 1rem;
 border-radius: 3px;
}

#Restart {
    margin-bottom : 1rem;
}

.Players-sign {
    font-size: 1.3rem; 
    color: black;
}

.objectivePoints {
    
    margin-bottom: 1rem;
}

.delete {
    border: none;
    background-color: transparent;
    color: var(--color4);
    padding-left: 1rem;
}


/* GAME */
.started-game{
    margin-top: 1rem;
}
p{
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.1rem;
}
h3{
    display: block;
}
.playing-player{
    margin: auto;
    text-align: center;
}

 .addPlayer{
    width: 3rem;
    border: none;
    background-color: var(--color1);
    text-align: center;
}

.rest, .add {
    background: none; 
    border: none;
    text-align: center;
}

.newpoint{
    width : 3rem;
    text-align: center;
    border: none;
    border-bottom: 2px var(--color4) solid;
    background: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home{ 
    margin: auto;
    display: block;
}

/* INSTRUCTIONS */

.instructions-list{
    list-style: none;
    display: block;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    padding-left:  1rem;
    padding-right:  1rem;
    font-size: 0.85rem;
}

.instructions {
    background: var(--color3)  repeat center center fixed;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    box-shadow: -2px -4px 18px -1px rgba(0,0,0,0.83);
    border-radius: 10px;
}

.cardimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    height: 3rem;
}

.button-father{
    height: 3rem;
    margin: auto;
}


.closing-instructions {
    height: 2rem;
    width: 7rem;
    padding-bottom: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    color: var(--color1);
    background: var(--color4);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
}

.closing-instructions:hover {
   border : 0.4px var(--color3);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
    transition: all .5s ease; 
  }


/*Footer including contact */
footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--color3);
        color: var(--color1);
        text-align: center;
        font-family:'Quicksand', sans-serif;
      }

      @media (max-width: 641px) { 
        .produced{
            display: block;
            margin: 0;
          }
     }

.media{
        text-decoration: none;
        color: var(--color1);
    }
    